#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #999999;
  text-align: left;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #666666;
  color: #fff;
  
/* Toggler yes */
#toggler{
 background-color:#f20202;
 border-style:dotted;
 border-color:#8b0303;
 transform:translatex(-3px) translatey(0px);
}

.taskbar {
  width: 100%;
  background-color: #1c1c1c;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.start-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #0047ab;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1rem;
}

.taskbar-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.taskbar-icons li {
  margin-right: 1rem;
}

.taskbar-icons img {
  height: 20px;
}

.system-icons {
  display: flex;
  align-items: center;
}

.system-icons img {
  margin-left: 1rem;
  height: 20px;
}
